/* Show title of unread tabs with red and italic font */
/*
:root.sidebar tab-item.unread .label-content {
  color: red !important;
  font-style: italic !important;
}
*/

/* Add private browsing indicator per tab */
/*
:root.sidebar tab-item.private-browsing tab-label:before {
  content: "🕶";
}
*/

    #tabbar {
      background:#09080D;
      scrollbar-width:none;
    }
    .newtab-button-box {
      display:none;
    }
    tab-item {
      left:0;
      width:auto;
      padding:5px 7px 5px 6px;
      margin-left:0 !important;
      border-top:1px solid #09080D;
      border-left:none ;
      border-bottom:1px solid #09080D;
      background:#09080D;
      font-weight:500;
    }
    #tabbar:hover tab-item[data-level][data-level="0"] {
      margin-left:0% !important;
    }
    #tabbar:hover tab-item[data-level][data-level="1"] {
      margin-left:4% !important;
      border-left:1px solid #09080D;
    }
    #tabbar:hover tab-item[data-level][data-level="2"] {
      margin-left:8% !important;
      border-left:1px solid #09080D;
    }
    #tabbar:hover tab-item[data-level][data-level="3"] {
      margin-left:12% !important;
      border-left:1px solid #09080D;
    }
    #tabbar:hover tab-item[data-level][data-level="4"] {
      margin-left:16% !important;
      border-left:1px solid #09080D;
    }
    #tabbar:hover tab-item[data-level][data-level="5"] {
      margin-left:20% !important;
      border-left:1px solid #09080D;
    }
    #tabbar:hover tab-item[data-level][data-level="6"] {
      margin-left: 24% !important;
      border-left:1px solid #09080D;
    }
    tab-item.active {
      background:#7a7a7a;
    }
    tab-item:not(.active):hover {
      background:#7a7a7a;
    }
    tab-item tab-label {
      padding-left:0.309rem !important;
      color:#c7c7c7;
    }
    #tabbar:hover tab-item tab-label {
      display:initial;
    }
    tab-item.active .highlighter::before,
    tab-item.bundled-active .highlighter::before,
    tab-item.highlighted .highlighter::before,
    tab-item:not(.faviconized).bundled-active .highlighter::after,
    tab-item:not(.faviconized).highlighted .highlighter::after {
      background:transparent;
    }
    /* This is an arrow which changes collapse status for tabs with children */
    tab-item tab-twisty {
      display:none;
    }
    tab-item tab-closebox {
      margin-right:0.309rem;
    }
    tab-closebox {
      color:#c7c7c7 !important;
    }
    tab-closebox::after {
      color:#c7c7c7 !important;
      content: "x";
      background: none;
      line-height: 1;
      mask: none;
      text-align: center;
      width: 1.25em;
    }
    tab-item * {
      color:#c7c7c7 !important;
      fill:#c7c7c7 !important;
    }
    #tabbar:hover tab-item tab-closebox {
      display:initial
    }
    tab-item .counter {
      order:-1;
      margin-bottom:-10px;
      margin-right:-18px;
      padding-left:10px;
      color:#c7c7c7;
      text-shadow:
        -1px -1px 0 #09080D,
         1px -1px 0 #09080D,
        -1px  1px 0 #09080D,
         1px  1px 0 #09080D;
         z-index:999;
    }
    tab-item .counter::before, tab-item .counter::after {
      display:none;
    }
